.benefits .card .card-icon {
    position: absolute;
    color: #FFF;
    background: #ff4500;
    width: 110px;
    height: 110px;
    line-height: 105px;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    text-shadow: none;
    margin: 0 0 0 0;
    border-radius: 25rem;
    border: 3px solid rgba(0, 0, 0, 0.2);
}

.benefits .card .card-icon i {
    -webkit-filter: drop-shadow(-3px 3px #dd3b00);
}

.benefits .card .card-body {
    background: #151515;
    padding: 6px 8px 0 45px;
    color: #FFF;
    height: 92px;
    border-radius: .9rem 0 .9rem 0;
    border: 3px solid rgba(0, 0, 0, 0.2);
    margin: 7px 0 25px 70px
}

.benefits .card .card-body a,
.benefits .card .card-body a:hover {
    color: orangered;
    text-decoration: none;
}

.last-purchases {
    background: #151515;
    padding: 5px 10px;
    border-radius: 8px;
    border: 3px solid rgba(0,0,0,0.2);
    margin-top: 10px
}

.last-purchases h3 {
    color: #FFF;
}

.last-purchases ul {
    list-style: none !important;
    text-align: center;
    margin: 10px auto 5px auto;
    padding: 0
}

.last-purchases ul li {
    display: inline-block;
}