@import url('https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('bootstrap/bootstrap.css');

html, body, button, input {
    font-family: 'Cinzel Decorative';
}

header {
    height: 550px;
    border-bottom: 8px solid #6c2121;
    background: #0b0a07 url('https://hypixel.net/styles/hypixel-uix/xenforo/header-bg.png') no-repeat center top;
    box-shadow: 0 3px 12px -3px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1024px) {
    header {
        height: 580px;
    }
}

body {
    background: url('../images/content-background.png') repeat;
}

header .logo {
    padding-top: 20px;
    padding-bottom: 20px
}

header .logo > img {
    display: block;
    margin: 0 auto;
    padding: 20px;
    height: 150px;
}

header nav {
    background: #1f1f1f;
    margin: 0 auto;
    padding: 25px;
    position: center;
    width: 980px;
}

@media screen and (max-width: 1024px) {
    header nav {
        width: 840px;
    }
}

@media screen and (max-width: 980px) {
    header nav {
        width: 790px;
    }
}

header nav > .corner-left:after,
header nav > .corner-left:before,
header nav > .corner-right:after,
header nav > .corner-right:before {
	position: absolute;
	top: 205px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	pointer-events: none;
}

header nav > .corner-right:after {
    margin-left: 22px;
}

header nav > .corner-right:before {
    margin-left: 24px;
}

header nav > .corner-left:after {
    margin-left: -72px
}

header nav > .corner-left:before {
    margin-left: -90px
}

header nav > .corner-left:after {
	border-right-color: #1f1f1f;
	border-width: 38.004px;
	margin-top: -16px;
}

header nav > .corner-left:before {
	border-right-color: #e1504a;
	border-width: 46px;
	margin-top: -24px;
}

header nav > .corner-right:after {
	border-left-color: #1f1f1f;
	border-width: 38.004px;
	margin-top: -16px;
}

header nav > .corner-right:before {
	border-left-color: #e1504a;
	border-width: 46px;
	margin-top: -24px;
}

header nav > .nav {
    margin: 0 auto;
    padding: 0 0 0 10px;
    text-align: center;
}

header nav > .nav > li {
    padding: 0 12px;
    font-weight: bolder;
}

header nav > .nav > li > a {
    color: #FFF;
    text-decoration: none
}

header .play-button {
    text-align: center;
}

header .play-button a {
    position: absolute;
    margin: -26px 0 0 -50px;
    background: #e1504a;
    padding: 10px 20px;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    border: 4px solid transparent;
}

header .play-button span .corner-left:after,
header .play-button span .corner-right:after {
	position: absolute;
	top: 205px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	pointer-events: none;
}

header .play-button span .corner-left:after {
	border-right-color: #e1504a;
	border-width: 26.5px;
	margin: 32.3px 0 0 -102.5px;
}

header .play-button span .corner-right:after {
	border-left-color: #e1504a;
	border-width: 26px;
    margin: 32.3px 0 0 52.4px
}

.main {
    padding: 45px 70px;
    font-family: 'Ubuntu';
    color: #FEFEFE
}

.main p.default-text {
    margin-top: 4px;
    margin-bottom: 10px;
    line-height: 1.5em;
    display: block;
    margin: 1rem auto 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    color: #f1e1f1;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 2rem;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 1024px;
        max-width: 100%;
    }
    .main {
        padding: 45px 85px;
    }
}

@media screen and (max-width: 980px) {
    .container {
        width: 980px;
        max-width: 100%;
    }
}


header .main .welcome {
    width: 450px
}

header .main .welcome h3 {
    font-weight: bold;
    font-family: 'Cinzel Decorative';
    color: #fff;
    text-transform: uppercase;
    text-shadow: #818181 2px 2.3px 2px, 1px 1px 1px ;
}

header .main .welcome p {
    color: #FFF;
}

header .main .welcome a {
    color: #d14444;
}

header .main .welcome a:hover {
    color: #6c2121;
    text-decoration: none;
}

header .main .welcome button {
    margin-top: 5px;
    padding: 10px 20px;
    background: #e1504a;
    border: none;
    border-radius: 25px;
    font-family: 'Ubuntu';
    color: #FFF;
    cursor: pointer;
}

header .main .page-links .page-message {
    width: 360px;
    background: #e1504a;
    display: block;
    border-radius: 5px;
    padding: 10px;
    top: 50%;
    transform: translateY(100%);
    margin-right: 50px;
    font-family: 'Cinzel Decorative';
    text-transform: uppercase;
}

header .main .page-links .page-message p,
header .main .page-links .page-message a {
    color: #FFF;
    margin: 0;
    padding: 0;
    text-align: right !important;
    text-decoration: none;
    padding-right: 10px;
}

header .main .page-links .page-message .player-count {
    background: #1f1f1f;
    position: absolute;
    padding: 10px 15px;
    border-radius: 4px 0 4px 0;
    margin: -15px 0 0 0px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1024px) {
    header .main .welcome {
        width: 350px;
    }

    header .main .page-links .page-message {
        width: 350px;
    }
}

header .main .page-links .page-message .tooltip-message {
    display: none;
    font-family: 'Ubuntu';
    text-decoration: none;
    text-transform: none;
    position: absolute;
    color: #414141;
    background: #e1e1e1;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 30px 0 0 100px;
    box-shadow: 0 3px 12px -3px rgba(0, 0, 0, 0.5);
}

header .main .page-links .page-message .tooltip-message:after {
    top: -20px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

header .main .page-links .page-message .tooltip-message:after {
    border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #e1e1e1;
	border-width: 10px;
	margin-left: -10px;
}

header .main .page-links .page-message:hover,
header .main .page-links .page-message:hover .tooltip-message {
    display: block;
    cursor: pointer
}

header .main .page-links .category-buttons {
    display: block;
    margin: 0;
    padding: 10px;
    list-style-type: none;
    top: 50%;
    transform: translateY(100%);
    text-align: center;
}

header .main .page-links .category-buttons li {
    display: inline-block;
    padding: 0 15px
}

header .main .page-links .category-buttons li a {
    background: #e1504a;
    font-family: 'Cinzel Decorative';
    font-weight: bold;
    letter-spacing: 1.2px;
    padding: 10px 20px;
    color: #FFF;
    border-radius: 25rem;
    text-decoration: none;
    box-shadow: 0 0 80px rgb(95, 95, 95);
}

header .main .page-links .category-buttons li a:hover {
    background: #db4641
}

.about-server h3,
.cart-items h3,
.terms-and-conditions h3,
.privacity-statement h3,
.payment-methods h3,
.basket-total h3,
.coupon-of-discount h3 {
    color: #e1504a;
    font-family: 'Cinzel Decorative';
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px #000000;
    padding-bottom: 2rem;
}

.content-image {
    display: inline-block;
    box-shadow: 0 0 80px #000;
    margin-bottom: 2rem;
    padding: 1px;
    background: linear-gradient(#996666, #6c2121);
    border-radius: 4px
}

.content-image img {
    border: 0.5em solid #191919;
    border-radius: 4px
}

@media screen and (max-width: 1024px) {
    .content-image,
    .content-image img {
        max-width: 100%;
    }
}

.content-row {
    max-width: 50em;
    display: inline-block;
    padding: 2em;
}

.content-row .text-center img {
    text-align: center;
    border: 4px solid #6c2121;
    box-shadow: inset 2px 2px 3px rgba(0,0,0,0.6);
    padding: 10px;
    background: #171e1c;
}

.content-row .text-left {
    text-align: left;
}

.content-row .text-left h2 {
    color: #d14444;
    font-size: 23px;
    margin: 0;
    padding: 0;
    font-family: 'Cinzel Decorative';
    text-shadow: 0px 0px 6px #000000;
}

.content-row .text-left p {
    color: #8f7b7b;
    margin: 1rem auto 0 auto;
}

.content {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .7);
    background-color: rgba(0, 0, 0, .4);
    border-radius: 5px;
    padding: 20px 15px;
    font-family: 'Ubuntu';
}

.content > h3 {
    font-family: 'Cinzel Decorative';
}

button.content {
    border: none !important;
    text-align: center !important;
    color: #FFF;
    width: 100%;
    font-family: '' !important;
    cursor: pointer
}

button.content:active,
button.content:focus {
    outline: none;
}

button.content h3 {
    font-size: 20px
}

button.content[aria-labelledby="orange"] h3 {
    color: #FFAA00
}

button.content[aria-labelledby="dark-red"] h3 {
    color: #AA0000
}

button.content[aria-labelledby="red"] h3 {
    color: #FF5555
}

button.content[aria-labelledby="dark-green"] h3 {
    color: #00AA00
}

button.content[aria-labelledby="green"] h3 {
    color: #55FF55
}

.staff-list h3 {
    text-transform: uppercase;
}

.staff-list {
    margin-top: 2rem;
}

.staffers > .staff-group:nth-child(1) {
    margin-top: 0;
}

.staff-list .row {
    margin-top: 1rem;
}

.staff-list .staff {
    padding: 5px;
}

.staff-list .staff > .staff-helm {
    display: block;
    margin: 0 auto;
    border-radius: 4px
}

.staff-list .staff > .staff-nick {
    display: block;
    padding-top: 5px;
    text-align: center;
    color: #FFF
}

.content > .last-staff-changes {
    list-style-type: none;
    margin: 0;
    padding: 10px 0
}

.content > .last-staff-changes a {
    text-decoration: none;
    color: #6c2121
}

.content > .last-staff-changes a:hover {
    color: #d14444;
}

.content.staff-changes > button {
    display: block;
    font-family: 'Ubuntu';
    border: none;
    background: #d14444;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: .5rem auto 0 auto
}

.content.staff-changes > button a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.changelog > .row {
    margin-bottom: 50px;
}

.changelog > .row:last-child {
    margin-bottom: 0;
}

.changelog .changelog-date {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Cinzel Decorative';
    color: #C45353;
    text-align: right;
    text-transform: uppercase;
    padding-right: 15px;
}

.changelog .changelog-category {
    text-transform: none;
    font-size: 16px;
    color: #2b2b2b;
    font-weight: 500;
}

.changelog .changelog-list {
    margin-bottom: 20px;
}

.changelog .changelog-list:last-child {
    margin-bottom: 0;
}

.changelog .changelog-list p {
    display: inline;
}

.changelog .changelog-list li {
    margin: 10px 0px 0px 25px;
    text-transform: none;
    list-style-type: none;
    border-bottom: 1px dashed #eaeaea;
    list-style-position: inside;
    position: relative;
}

.changelog .changelog-list li a {
    color: #C45353
}

.changelog .changelog-list li a:hover {
    color: rgb(167, 63, 63)
}

.changelog .changelog-list li:before {
    content: '- ';
    position: absolute;
    left: -10px;
}

.changelog .changelog-group {
    background-color: #ececec;
    padding: 30px;
    border-radius: 5px;
    font-size: 16px;
    border-top-left-radius: 0;
    margin-right: 20px;
}

.changelog .changelog-group:before {
    content: '';
    position: absolute;
    top: 0;
    left: -13px;
    height: 40px;
    border-right: 30px solid #ececec;
}

.changelog .changelog-group:after {
    content: '';
    position: absolute;
    top: 0;
    left: -16.6px;
    height: 45px;
    border-top-right-radius: 100px;
    border-right: 32px solid #151515;
}

.promotion {
    height: 200px;
    margin-top: 15px;
    border-radius: 15px 0px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    overflow: hidden;
}

.countdown {
    color: #ffffff;
    text-align: center;
    margin-top: 164px;
    margin-left: 20px;
    font-size: 24px;
}

.shop-info {
    padding: 40px 20px 0;
    font-size: 18px;
    min-height: 230px;
}

.shop-info i {
    font-size: 40px;
    margin-bottom: 1rem
}

.username {
    display: block;
    margin: 85px 0;
    text-transform: none;
}

.username h3 {
    color: #d14444;
    font-family: 'Cinzel Decorative';
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: #a05c5c 2px 2.3px 2px, 1px 1px 1px ;
}

.username .input-group {
    margin: 0 auto !important;
    width: 50%;
}

.username .input-group input {
    background: #FFF;
    padding: 10px 15px;
    border-top-left-radius: 25rem;
    border-bottom-left-radius: 25rem;
    border: 1px solid #d14444;
    border-right-color: transparent;
    outline: none;
    box-shadow: none;
    font-weight: bolder;
    font-family: 'Ubuntu';
    width: 75%;
    margin-top: 10px
}

.username .input-group button {
    position: relative !important;
    background: #FFF;
    color: #d14444;
    padding: 10px 15px;
    border-top-right-radius: 25rem;
    border-bottom-right-radius: 25rem;
    border: 1px solid #d14444;
    border-left-color: transparent;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    font-weight: bolder;
    font-family: 'Ubuntu';
    margin-top: 10px
}

.cart-items {
    margin-bottom: 30px
}

.packages {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.packages li {
    height: 65px;
}

.packages li .qty {
    background: #d14444;
    height: 45px;
    width: 45px;
    float: left;
    transform: rotate(45deg);

    margin-top: 10px;
}

.packages li .qty input[type=text] {
    padding: 0;
    margin: 8px 10px;
    border: 0;
    box-shadow: none;
    border-radius: 0;

    background: transparent;

    font-family: "Cinzel Decorative";
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    width: 25px;
    height: 25px;

    transform: rotate(-45deg);
}

.packages li .name {
    height: 65px;
    width: 275px;
    margin: 0 0 0 20px;
    line-height: 65px;
    font-weight: bold;
    font-family: "Cinzel Decorative";
    font-size: 16px;
    float: left;
}

.packages li .name a {
    color: #0f6da7;
}

.packages li .name a:hover {
    color: #0c4f7f;
}

.packages li .price {
    color: #e1e1e1;
    height: 25px;
    margin: 13px 13px 0 0;
    line-height: 35px;
    font-weight: bold;
    font-size: 18px;
    font-family: "Cinzel Decorative";
    padding: 0 15px 0 15px;
    float: right;
}

.packages li .actions {
    margin: 13px 13px 0 0;
    float: right;
}

.packages li .actions a {
    background: #d14444;

    color: #FFF;

    height: 45px;
    width: 45px;
    float: left;
    transform: rotate(45deg);
    line-height: 45px;

    margin-top: -5px
}

.packages li .actions a:nth-child(1) {
    margin-right: 30px;
}

footer {
    box-shadow: 0 0 25px 15px rgba(0,0,0,0.6);
    border-top: 1px solid #6c2121;
    background: #0e0e0e;
}

footer .footer-links {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Ubuntu';
}

footer .footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

footer .footer-links ul li a {
    display: block;
    margin: 0 15px;
    padding: 6px 0;
    text-decoration: none;
    border-left: 1px solid transparent;
    color: #6c2121;
    transition: all 0.2s linear;
    padding-left: 7px
}

footer .footer-links ul li a:visited {
    border-left: 1px solid transparent;
    color: #d14444;
}

footer .footer-links ul li a:hover {
    border-left: 1px solid #6c2121;
    color: #d14444
}