@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(0,0,0,0.08) !important
}

.login-bar {
    background: #262626;
    border-bottom: 4px solid rgba(0,0,0,0.2);
    padding: 12px 0 0px 0
}

.login-bar ul {
    margin: 0;
    padding: 0;
    font-size: 18px
}

.login-bar ul li {
    color: #FFF;
    display: inline-block
}

.login-bar ul li:first-child span {
    background: rgba(0,0,0,0.5);
    padding: 1px 16px 6px 16px;
    margin: 0 4px;
    border-radius: 25rem;
    color: #FF4500;
    cursor: pointer
}

.login-bar ul li:first-child p {
    display: inline-block
}

.login-bar ul li:last-child {
    float: right;
}

.login-bar a, 
.login-bar a:hover {
    color: #FFF;
    text-decoration: none;
}

@media screen and (max-width: 998px) {
    .login-bar ul li:first-child i {
        display: none
    }
}

@media screen and (max-width: 600px) {
    .login-bar {
        height: 55px;
    }
    
    .login-bar ul li:first-child span,
    .login-bar ul li:first-child p {
        display: none
    }    
}

.presentation {
    height: 135px;
    background: #414141 url("../../assets/images/header-bg.png") no-repeat 10% center;
    background-size: cover;
}

.presentation .container > div {
    display: inline-block
}

.presentation .logo-container {
    position: absolute;
    width: 252px;
    height: 102px;
    background: url('../../assets/images/logo.png') no-repeat 80% center;
    background-size: cover;
    margin: 62px 0 0 0;
    text-indent: -10000px;
    -webkit-transition: opacity 0.1s linear;
    z-index: 99
}

.presentation .logo-container:hover {
    opacity: 0.8;
    cursor: pointer
}

@media screen and (max-width: 600px) {
    .presentation .logo-container {
        display: none
    }    
}

.presentation .cart-item-count {
    background: #262626;
    float: right;
    margin-top: calc(135px / 3);
    padding: 4px 10px 8px 10px;
    border-radius: 4px;
    width: 260px
}

.presentation .cart-item-count i {
    position: absolute;
    background: #FF4500;
    color: #FFF;
    height: 46px;
    line-height: 30px;
    font-weight: bold;
    font-size: 24px;
    padding: 5px 8px;
    margin: -8px 0 0 0px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid rgba(0,0,0,0.2)
}

.presentation .cart-item-count a {
    color: #FF4500;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    float: right;
}

.navbar {
    background: #262626;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 1.8px rgba(36, 36, 36, 0.603);
    padding: 0 !important
}

.navbar .nav {
    margin-left: 35%;
}

@media screen and (max-width: 998px) {
    .navbar .nav {
        margin-left: 42%;
    }
}

@media screen and (max-width: 600px) {
    .navbar .nav {
        margin-left: 0;
    }
}

.navbar .nav-item {
    height: 55px;
    width: 86px;
    line-height: 37px;
    text-align: center;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.navbar .nav-item.active {
    background: #FF4500;
    border-left: 3px solid rgba(0,0,0,0.2);
    border-right: 3px solid rgba(0,0,0,0.2)
}

.navbar .nav-item.active:after {
    content: "";
    position: absolute;
    background: #FF4500;
    height: 10px;
    width: 86px;
    margin: -58px 0 0 -43px;
    border-radius: 4px;
    border-top: 3px solid rgba(0,0,0,0.2);
    border-left: 3px solid rgba(0,0,0,0.2);
    border-right: 3px solid rgba(0,0,0,0.2)
}


.navbar .nav-item.active:before {
    content: "";
    position: absolute;
    background: #FF4500;
    height: 10px;
    width: 86px;
    margin: 50px 0 0 -43px;
    border-radius: 4px;
    border-bottom: 3px solid rgba(0,0,0,0.2);
    border-left: 3px solid rgba(0,0,0,0.2);
    border-right: 3px solid rgba(0,0,0,0.2)
}

.navbar .nav-item .nav-link {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
}

.dropdown-menu[aria-labelledby="dropdown-more"] {
    background: #FF4500;
    margin: 10px 0 0 -3px;
    border: 3px solid rgba(0,0,0,0.2);
}

.dropdown-menu[aria-labelledby="dropdown-more"] ul {
    padding: 0
}

.dropdown-menu[aria-labelledby="dropdown-more"] ul li {
    list-style-type: none !important;
    text-align: center;
    border-bottom: 3px solid rgba(0,0,0,0.2)
}

.dropdown-menu[aria-labelledby="dropdown-more"] ul li:last-child {
    border-bottom: none;
}